stages:
  - build
  - test
  - images

build:
  image: gcc:15.2.0-trixie
  stage: build
  script:
    - make hello
  artifacts:
    paths:
      - hello

test:
  image: debian:13-slim
  stage: test
  script:
    - ./hello && test "$(./hello)" = "Hello World !"
    - ./hello Joe && test "$(./hello Joe)" = "Hello Joe !"
  needs:
    - job: build
      artifacts: true

build-image:
  image: docker:29.2.1-cli
  stage: images
  services:
    - docker:29.2.1-dind
  script:
    - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
    - docker build
        -t ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_NAME}-docker
        --target prod .
    - docker push ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_NAME}-docker
  only:
    - main
    - tags

build-image-alt:
  image: quay.io/containers/buildah:v1.42.2-immutable
  stage: images
  script:
    - buildah login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
    - buildah build
        -t ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_NAME}-buildah
        --format docker
        --target prod .
    - buildah push ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_NAME}-buildah
  only:
    - main
    - tags
